/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
    height: 50%;
    width: 55%;
    margin: 10px 10px 10px 10px;
    display: inline-block;
}

#table_div {
    height: 50%;
    width: 40%;
    display: inline-block;
    margin: 10px 10px 10px 10px;
}

#route_form {
    margin: 10px 10px 10px 10px;
}

table, th, td {
    border: 2px solid #444444;
    border-collapse: collapse;
    padding: 5px;
}

/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.curve {
    fill: none;
    stroke-width: 2px;
}

.curve_hint {
    fill: none;
    stroke-width: 1px;
    stroke-dasharray: 6,2,4,2;
}

.people {
    stroke: #ff0000;
}

.people_dots {
    fill: #ff0000;
    stroke-width: 2px;
    stroke: white;
}

.people_dots_prediction {
    fill: #ff7d7d;
    stroke-width: 2px;
    stroke: white;
}

.people_prediction_zone {
    fill: #ff0000;
    fill-opacity: 0.1;
}

.emission {
    stroke: #0000ff;
}

.emission_dots {
    fill: #0000ff;
    stroke-width: 2px;
    stroke: white;
}

.emission_dots_prediction {
    fill: #7d7dff;
    stroke-width: 2px;
    stroke: white;
}

.emission_prediction_zone {
    fill: #0000ff;
    fill-opacity: 0.1;
}



div.tooltip {
    position: absolute;
    text-align: center;
    width: 200px;
    height: 60px;
    padding: 2px;
    font: 12px sans-serif;
    background: white;
    border: solid 1px;
    border-color: #CCCCCC;
    border-radius: 8px;
    pointer-events: none;
}
