<!doctype html>
<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
  </head>
  <body>
    <div id="route_form">
      <label for="from_input">From:</label>
      <input type="text" id="from_input">
      <label for="to_input">To:</label>
      <input type="text" id="to_input">
      <button id="search_button">Search</button>
    </div>
    <div id="map"></div>
    <div>
      <svg id="double_slider"></svg>
    </div>
    <div id="graph_div"></div>
    <!--
    <div id="map_and_stats">
      <div id="trip_info">
	<table id="statistics_table">
	  <tr id="year_row">
	    <th class="label">Year</td>
	  </tr>
	  <tr id="number_of_people_row">
	    <td class="label">Number of people</td>
	  </tr>
	  <tr id="carbon_emission_row">
	    <td class="label">Carbon emission</td>
	  </tr>
	</table>
	<svg id="slider"></svg>
	<div>
	  <span>Distance:</span>
	  <span id="trip_summary"></span></div>
	</div>
	<svg id="graph_svg"></svg>
      </div>
    </div>
    -->
    <script src="{{ url_for('static', filename='d3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='d3-simple-slider.min.js') }}"></script>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBWh0-DTOorGYoQ_MxSqUblyVvL6e3FRZY&libraries=places&callback=initMap"
	      async defer></script>
  </body>
</html>
