<!doctype html>
<html>
  <head>
    <title>Carbon Emission Calculator</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
  </head>
  <body>
    <div id="route_form">
      <label for="from_input">From:</label>
      <input type="text" id="from_input">
      <label for="to_input">To:</label>
      <input type="text" id="to_input">
      <button id="search_button">Search</button>
    </div>
    <div id="map"></div>
    <div id="table_div">
      <table id="other_transport_table">
	<tr>
	  <th>Mean of transportation</th>
	  <th>Carbon emission/Pax(kg)</th>
	</tr>
      </table>
    </div>
    <div>
      <svg id="double_slider"></svg>
    </div>
    <div id="graph_div"></div>
    <script src="{{ url_for('static', filename='d3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='d3-simple-slider.min.js') }}"></script>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBWh0-DTOorGYoQ_MxSqUblyVvL6e3FRZY&libraries=places&callback=initMap"
	      async defer></script>
  </body>
</html>
